<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>云日历登录</title>

    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../common.css">
    <link rel="stylesheet" href="login.css">
    <script src="login.js"></script>
    <script src="../../lib/jquery/jquery-3.3.1.min.js"></script>
    <script src="../../lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="header-block flex-column">
        <div class="logo-block flex-column">
            <a class="logo-a" href="/">个人云日历</a>
        </div>
    </div>

    <div class="login-block flex-row">
        <div class="login-container-bg">
            <div class="login-container">
                <div class="login-container-header">
                    Login in
                </div>
                <div class="login-container-content flex-row">
                    <div class="login-container-content-block">
                        <div class="login-input-item">
                            <div class="login-input-item-title">username</div>
                            <div class="login-input-block">
                                <input class="login-input">
                            </div>
                        </div>
                        <div class="login-input-item">
                            <div class="login-input-item-title">password</div>
                            <div class="login-input-block">
                                <input class="login-input">
                            </div>
                        </div>
                        <div class="login-radio">
                            <input type="radio"> keep login in
                        </div>
                        <div class="login-submit-block">
                            <button class="login-submit-btn">Login in</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>