<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="group.cc.pcc.dao.PccScheduleUserMapper">
  <resultMap id="BaseResultMap" type="group.cc.pcc.model.PccScheduleUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pcc_schedule_id" jdbcType="INTEGER" property="pccScheduleId" />
    <result column="pcc_user_id" jdbcType="INTEGER" property="pccUserId" />
    <result column="is_complete" jdbcType="CHAR" property="isComplete" />
    <result column="complete_date" jdbcType="TIMESTAMP" property="completeDate" />
  </resultMap>
</mapper>