<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="group.cc.pcc.dao.PccScheduleMapper">
    <resultMap id="BaseResultMap" type="group.cc.pcc.model.PccSchedule">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="remind_time" jdbcType="TIMESTAMP" property="remindTime"/>
        <result column="pcc_user_id" jdbcType="INTEGER" property="pccUserId"/>
        <result column="pcc_remind_service_id" jdbcType="INTEGER" property="pccRemindServiceId"/>
    </resultMap>

    <select id="dayCount" resultType="java.util.HashMap">
        select
        count(*) as count,
        DATE_FORMAT(s.create_time,'%Y%m%d') as create_time
        from pcc_schedule as s
        where
        s.pcc_user_id=#{pccUserId}
        AND
        DATE_FORMAT(s.create_time,'%Y%m%d') >= #{startDate}
        AND
        DATE_FORMAT(s.create_time,'%Y%m%d') <= #{endDate}
        GROUP BY DATE_FORMAT(s.create_time,'%Y%m%d')
    </select>
</mapper>