<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="group.cc.df.dao.DfUserMapper">
  <resultMap id="BaseResultMap" type="group.cc.df.model.DfUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
  </resultMap>

  <select id="getUserByUserName" resultType="group.cc.df.model.DfUser">
    SELECT id AS id, name AS name, sex AS sex, email AS email, phone AS phone, password AS password,
    user_name AS userName FROM df_user WHERE user_name = #{userName}
  </select>
</mapper>